name: Conan Build

on:
  workflow_call:
    inputs:
      platform:
        required: false
        default: 'ubuntu-22.04'
        type: string
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: string
      malloc-impl:
        required: true
        type: string
      prerelease:
        required: true
        type: string
      testing:
        required: false
        type: string
        default: 'False'
  workflow_dispatch:
    inputs:
      platform:
        required: true
        type: choice
        options:
          - ubuntu-22.04
          - ubuntu-20.04
          - macos-13
          - macos-12
        default: 'ubuntu-22.04'
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: choice
        options:
          - Debug
          - Release
          - RelWithDebInfo
      malloc-impl:
        description: 'Allocation Library'
        required: true
        type: choice
        options:
          - libc
          - tcmalloc
          - jemalloc
      prerelease:
        description: 'Fault Instrumentation'
        required: false
        type: choice
        options:
          - 'True'
          - 'False'
        default: 'False'
      testing:
        description: 'Build and Run'
        required: true
        type: choice
        options:
          - 'True'
          - 'False'
        default: 'True'

jobs:
  BuildNuraftMesgDeps:
    runs-on: ${{ inputs.platform }}
    steps:
    - name: Retrieve Code
      uses: actions/checkout@v3
      with:
        path: deps/nuraft_mesg
        ref: ${{ inputs.branch }}
      if: ${{ inputs.testing == 'True' }}

    - name: Retrieve Dependencies
      uses: actions/checkout@v3
      with:
        repository: eBay/sisl
        path: deps/sisl
        ref: master
      if: ${{ inputs.testing == 'True' || steps.restore-cache-nuraftmesg.outputs.cache-hit != 'true' }}

    - name: Retrieve Recipe
      uses: actions/checkout@v3
      with:
        repository: eBay/nuraft_mesg
        path: deps/nuraft_mesg
        ref: ${{ inputs.branch }}
      if: ${{ inputs.testing == 'False' }}

    - name: Restore NuraftMesg Cache
      id: restore-cache-nuraftmesg
      uses: actions/cache/restore@v3
      with:
        path: |
          ~/.conan/data
        key: NuMesgDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}-${{ hashFiles('deps/nuraft_mesg/**/conanfile.py') }}

    - name: Restore Testing Cache
      id: restore-cache-testing-iomgr
      uses: actions/cache/restore@v3
      with:
        path: |
          ~/.conan/data
        key: NuMesgDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}-
      if: ${{ github.event_name == 'pull_request' && inputs.testing == 'True' && steps.restore-cache-nuraftmesg.outputs.cache-hit != 'true' }}

    - name: Restore Sisl Cache
      id: restore-cache-sisl
      uses: actions/cache/restore@v3
      with:
        path: |
          ~/.conan/data
        key: SislDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}-${{ hashFiles('deps/sisl/**/conanfile.py') }}
        restore-keys: |
          SislDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}-
        fail-on-cache-miss: true
      if: ${{ inputs.testing == 'True' || steps.restore-cache-nuraftmesg.outputs.cache-hit != 'true' }}

    - name: Setup Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.8"
      if: ${{ inputs.testing == 'True' || steps.restore-cache-nuraftmesg.outputs.cache-hit != 'true' }}

    - name: Setup Conan and Export Recipes
      run: |
        python -m pip install --upgrade pip
        python -m pip install conan~=1.0
        python -m pip install gcovr
        conan user
        conan profile new --detect default
        conan export deps/sisl oss/master
        conan export deps/nuraft_mesg/3rd_party/nuraft
        cached_pkgs=$(ls -1d ~/.conan/data/*/*/*/*/export 2>/dev/null | sed 's,.*data/,,' | cut -d'/' -f1,2 | paste -sd',' - -)
        echo "::info:: Pre-cached: ${cached_pkgs}"
      if: ${{ inputs.testing == 'True' || steps.restore-cache-nuraftmesg.outputs.cache-hit != 'true' }}

    - name: Fixup libstdc++
      run: |
        # Set std::string to non-CoW C++11 version
        sed -i 's,compiler.libcxx=libstdc++$,compiler.libcxx=libstdc++11,g' ~/.conan/profiles/default
      if: ${{ inputs.platform == 'ubuntu-22.04' && ( inputs.testing == 'True' || steps.restore-cache-nuraftmesg.outputs.cache-hit != 'true' ) }}

    - name: Build Cache
      run: |
        conan install \
            -o prerelease=${{ inputs.prerelease }} \
            -o malloc_impl=${{ inputs.malloc-impl }} \
            -o testing=False \
            -s build_type=${{ inputs.build-type }} \
            --build missing \
            deps/sisl
        conan install \
            -o sisl:prerelease=${{ inputs.prerelease }} \
            -o sisl:malloc_impl=${{ inputs.malloc-impl }} \
            -o sisl:testing=False \
            -o testing=False \
            -s build_type=${{ inputs.build-type }} \
            --build missing \
            deps/nuraft_mesg
      if: ${{ steps.restore-cache-nuraftmesg.outputs.cache-hit != 'true' }}

    - name: Clean Package Cache
      run: |
        dep_pkgs=$(ls -1d deps/nuraft_mesg/3rd_party/* 2>/dev/null | cut -d'/' -f4 | paste -sd'|' - -)
        if [ -z "${dep_pkgs}" ]; then
           dep_pkgs="no_3rd_party"
        fi
        dirty_pkgs=$(ls -1d ~/.conan/data/*/*/*/*/build 2>/dev/null | sed 's,.*data/,,')
        if [ -z "${dirty_pkgs}" ]; then
           dirty_pkgs="no_public/0"
        fi
        dirty_pkgs_d=$(echo "${dirty_pkgs}" | cut -d'/' -f1 | paste -sd'|' - -)
        echo "::info:: Caching: ${dirty_pkgs_d}|${dep_pkgs}"
        ls -1d ~/.conan/data/* | grep -Ev "(${dirty_pkgs_d}|${dep_pkgs})" | xargs rm -rf
        rm -rf ~/.conan/data/*/*/*/*/build
        rm -rf ~/.conan/data/*/*/*/*/source
      if: ${{ github.event_name != 'pull_request' && steps.restore-cache-nuraftmesg.outputs.cache-hit != 'true' }}

    - name: Save NuraftMesg Cache
      id: save-cache-nuraftmesg
      uses: actions/cache/save@v3
      with:
        path: |
          ~/.conan/data
        key: NuMesgDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}-${{ hashFiles('deps/nuraft_mesg/**/conanfile.py') }}
      if: ${{ github.event_name != 'pull_request' && steps.restore-cache-nuraftmesg.outputs.cache-hit != 'true' }}

    - name: Restore Sisl Cache
      uses: actions/cache/restore@v3
      with:
        path: |
          ~/.conan/data
        key: SislDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}-${{ hashFiles('deps/sisl/**/conanfile.py') }}
        fail-on-cache-miss: true
        restore-keys: SislDeps-${{ inputs.platform }}-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}-
      if: ${{ inputs.testing == 'True' && github.event_name != 'pull_request' && steps.restore-cache-nuraftmesg.outputs.cache-hit != 'true' }}

    - name: Create and test Package
      run: |
        if [[ "${{ inputs.platform }}" == "ubuntu-22.04" && \
              "${{ inputs.build-type }}" == "Debug" && \
              "${{ inputs.malloc-impl }}" == "libc" && \
              "${{ inputs.prerelease }}" == "False" ]]; then
          conan install \
              -o sisl:prerelease=${{ inputs.prerelease }} \
              -o sisl:malloc_impl=${{ inputs.malloc-impl }} \
              -o sisl:testing=False \
              -o testing=False \
              -o coverage=True \
              -s build_type=${{ inputs.build-type }} \
              --build missing \
              deps/nuraft_mesg
          conan build deps/nuraft_mesg
        else
          sanitize=$([[ "${{ inputs.build-type }}" == "Debug" && "${{ inputs.malloc-impl }}" == "libc" && "${{ inputs.prerelease }}" == "True" ]] && echo "True" || echo "False")
          conan create \
              -o sisl:prerelease=${{ inputs.prerelease }} \
              -o sisl:malloc_impl=${{ inputs.malloc-impl }} \
              -o nuraft_mesg:sanitize=${sanitize} \
              -s build_type=${{ inputs.build-type }} \
              --build missing \
              deps/nuraft_mesg
        fi
      if: ${{ inputs.testing == 'True' }}

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        gcov: true
