name: NuraftMsg Dependencies

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      build-type:
        required: true
        type: string
      malloc-impl:
        required: true
        type: string
      prerelease:
        required: true
        type: string

jobs:
  BuildNuraftMesgDeps:
    runs-on: ubuntu-22.04
    steps:
    - name: Setup Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.8"

    - name: Setup Conan
      run: |
        python -m pip install --upgrade pip
        python -m pip install conan~=1.0
        conan user
        conan profile new --detect default
        # Set std::string to non-CoW C++11 version
        sed -i 's,compiler.libcxx=libstdc++$,compiler.libcxx=libstdc++11,g' ~/.conan/profiles/default

    - name: Retrieve Dependencies
      uses: actions/checkout@v3
      with:
        repository: eBay/sisl
        path: deps/sisl
        ref: master

    - name: Retrieve Dependencies
      uses: actions/checkout@v3
      with:
        repository: eBay/nuraft_mesg
        path: deps/nuraft_mesg
        ref: ${{ inputs.branch }}

    - name: Restore Sisl 3rdParty Cache
      id: restore-cache-sisl
      uses: actions/cache/restore@v3
      with:
        path: |
          ~/.conan/data
        key: SislDeps-${{ inputs.build-type }}-${{ inputs.malloc-impl }}-${{ inputs.prerelease }}

    - name: Restore NuraftMesg 3rdParty Cache
      id: restore-cache-nuraftmesg
      uses: actions/cache/restore@v3
      with:
        path: |
          ~/.conan/data
        key: NuMesgDeps-${{ inputs.build-type }}-${{ inputs.malloc-impl }}

    - name: Install Dependencies
      run: |
        conan export deps/sisl oss/master
        conan export deps/nuraft_mesg/3rd_party/nuraft
        conan install \
            -o sisl:prerelease=${{ inputs.prerelease }} \
            -o sisl:malloc_impl=${{ inputs.malloc-impl }} \
            -o sisl:testing=False \
            -o testing=False \
            -s build_type=${{ inputs.build-type }} \
            --build missing deps/nuraft_mesg
      if: ${{ steps.restore-cache-nurraftmesg.outputs.cache-hit != 'true' }}

    - name: Cleanup dep builds
      run: |
        ls -1d ~/.conan/data/* | grep -Ev '(nuraft|sisl)' | xargs rm -rf
        rm -rf ~/.conan/data/*/*/*/*/build
      if: ${{ steps.restore-cache-nurraftmesg.outputs.cache-hit != 'true' }}

    - name: Save NuraftMesg 3rdParty Cache
      id: save-cache-nurmesg
      uses: actions/cache/save@v3
      with:
        path: |
          ~/.conan/data
        key: NuMesgDeps-${{ inputs.build-type }}-${{ inputs.malloc-impl }}
      if: ${{ github.event_name != 'pull_request' && steps.restore-cache-nurraftmesg.outputs.cache-hit != 'true' }}
